/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

#logo {
  color: #4E47FF;
}

/* hero-section */

.hero-section {
  max-width: 100%;
  height: 100vh;
  padding: 0 150px;
  background-image: url(../Assets/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  gap: 40px;
  text-align: center;
}

/* action-section */

.action-section {
  max-width: 100%;
  padding: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.action-section-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

img {
  border-radius: 48px;
}

/* productive-users-section */

.stats-section {
  max-width: 100%;
  padding: 50px;
  margin: 0px 150px;
  background-color: rgba(78, 71, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  border-radius: 24px;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 160px;
  justify-content: center;
  align-items: center;
}

.stats-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stats-card-font {
  font-size: 80px;
  color: #4E47FF;
}

/* user's-feedback-section */

.reviews-section {
  max-width: 100%;
  margin: 120px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.reviews {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.reviews-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fafafa;
  border: 1px solid rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  gap: 10px;
  padding: 24px 30px;
  flex-wrap: nowrap;
  
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.review-contents {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  text-align: start;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
}

.user-name {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* optional-section */

.optional-section {
  max-width: 100%;
  margin: 120px 150px;
  padding: 70px 0px;
  background-color: #fafafa;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}

.optional-section-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

/* lets-get-in-touch-section */

.contact-section {
  max-width: 100%;
  margin: 0px 150px 120px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#form-headline {
  font-size: 97px;
}

.contact-left-section {
  width: 50%;
}

.contact-right-section {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;

}

.input-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-right-section input {
  font-size: 16px;
  color: #737373;
  padding: 23px 20px;
  background-color: #fafafa;
  border: 1px solid rgba(78, 71, 255, 0.1);
  border-radius: 10px;
}

.contact-right-section textarea {
  font-size: 16px;
  color: #737373;
  background-color: #fafafa;
  border: 1px solid rgba(78, 71, 255, 0.1);
  border-radius: 10px;
  padding: 23px 20px 90px 20px;
}

.contact-right-section button {
  border: 1px solid rgba(78, 71, 255, 0.1);
  border-radius: 10px;
  padding: 19px 36px;
}

.contact-right-section label {
  font-size: 16px;
  font-weight: 700;
}

/* footer-section */

.footer-section {
  background-color: #fafafa;
  padding: 100px;
  max-width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#footer-logo {
  font-size: 100px;
  font-weight: 800;
  color: #4E47FF;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.footer-menu a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #0e0e0e;
  transition: color 0.1s ease-in;
}
.footer-menu a:hover {
  color: #4E47FF;
}